$pinkGradient: linear-gradient(#f283b4, #ee3d96);
$turqouiseGradient: linear-gradient(90deg, rgba(81,197,207,1) 0%, rgba(0,170,179,1) 100%);
$yellowGradient: linear-gradient(#fff793, #ffda00);

$pinkFlat: #e34097;
$turqouiseFlat: #00b6c2;