@import "./colors";

.news{
    width: 100%;
    height: 120px;
    border-color: white;
    border-style: solid;
    border-width: 0 2px 0 2px;
    &__title{
        height: 80px;
        padding-left: 30px;
        padding-top: 23px;
        position: absolute;
        top: calc(260px + 33.31vw);
        z-index: 100;
        left: 3vw;
            
    }
    &__newstext{
        font-size: 1.9vw;
        color: white;
        font-weight: 300;
        margin: 0;
    }
    &__decorstrip{
        border: solid $pinkFlat;
        border-width: 2px 0 2px 0;
        position: absolute;
        width: 100%;
        height: 60px;
        background-color: rgba(0,0,0,0.8);
        top: calc(270px + 33.31vw);
        left: 0;
        z-index: 0;
    }
    &__card{
        width: 22vw;
        height: 22vw;
        background-color: white;
        border: 2px solid black;
        float: left;
        margin: 20px 0 20px 2vw;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 30% 55% 15%;
        overflow: hidden;
    }
    &__cardtitle{
        width: 100%;
        color: $turqouiseFlat;
        font-size: 1.8em;
        font-weight: 600;
        margin-left: 15px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 3;
    }
    &__cardimage{
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 4;
        width: 120%;
        margin-left: -20px;
        margin-top: -20px;        
    }
    &__cardprice{
        background: $yellowGradient;
        border: solid black;
        border-width: 2px 2px 0 0;
        padding: 5px;
        width: 70%;

        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;

        text-align: center;

        &--number{
            font-size: 2vw;
            margin-top: -4px;
        }
    }
    
}