
.productspecific{
    min-height: fit-content;
    border: solid white;
    border-width: 0 2px 0 2px;
    padding-top: 20px;
    padding-bottom: 20px;
    &__card{
        height: 40vw;
        width: 70vw;
        margin: auto;
        background-color: white;
        border: 2px solid black;
        z-index: 100;
        display: grid;
        grid-template-columns: 20% 20% 60%;

        grid-template-rows: 9vw 22.75vw 4vw 4vw;
        row-gap: 0;
        position:relative
    }
    &__cardheader{
        color: white;
        background-color: black;
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 2;
    }
    &__cardtitle{
        font-size: 1.9vw;
        padding:  3% 0 0 3%;
    }
    &__cardtext{
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        border: solid black;
        border-width: 0 2px 0 0;
        padding: 4%;
        font-size: 1.3vw;
    }
    
    &__cardimage{
        height: 100%;
        width: 100%;
        grid-column-start: 3;
        grid-column-end: 4;
        grid-row-start: 2;
        grid-row-end: 5;
        overflow: hidden;
    }
    &__img{
        height: 90%;
        padding: 5% 5% 0 15%;
    }
    &__cardprice{
        height: 100%;
        width: 100%;
        background: $yellowGradient;
        border: solid black;
        border-width: 2px 2px 0 0;
        padding: 5px;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        &--number{
            font-size: 1.8vw;
            margin-top: -4px;
        }
    }
    &__cardrate{
        height: 100%;
        width: 100%;
        background: $yellowGradient;
        border: solid black;
        border-width: 2px 2px 0 0;
        padding: 5px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 3;
        grid-row-end: 4;
        text-align: center;
        &--number{
            font-size: 1.2vw;
            margin-top: 4;
            margin-bottom: 4;
        }
    }
    &__button{
        height: 100%;
        background: $pinkGradient;
        text-decoration: none;
        width: 100%;
        border: solid black;
        border-width: 2px 2px 1px 0;
        padding: 5px;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 4;
        grid-row-end: 5;
        text-align: center;
        color: black;
        :hover{
            color: white;
        }
    }
    &__buttontext{
        font-size: 1.8vw;
        margin-top: -4px;
    }
    
}
